{% extends '::base.html.twig' %}

{% block body -%}

<div class="row">
  <div class="col-md-12">
    <p>You've worked {{ day_hours }} hours today.</p>
    <p>You've worked {{ week_hours }} hours this week.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <h2>Latest records</h2>
    {{ render(controller('AppBundle:Record:blockLast', {'max': 15} )) }}

    <div class="btn-actions">
        <a class="btn btn-primary" href="{{ path('records_new') }}">
          New record
        </a>
    </div>
  </div>
  <div class="col-lg-4">
    <h2>Opened projects</h2>
    {{ render(controller('AppBundle:Project:blockIndex')) }}

    <div class="btn-actions">
        <a class="btn btn-primary" href="{{ path('projects_new') }}">
            New project
        </a>
    </div>
  </div>
</div>


{% endblock -%}
