<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                {% if project is null %}<th>Project</th>{% endif %}
                <th>Date</th>
                <th>User</th>
                <th>Description</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {% if project is null %}<td>{{ entity.project }} ({{ entity.project.client.name }})</td>{% endif %}
                <td>{{ entity.date | date("d/M/Y") }}</td>
                <td>{{ entity.user }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.duration | duration }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
