{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Record</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Project</th>
                <td>{{ entity.project }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ entity.user }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ entity.duration }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('records') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('records_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
